// ** LAYOUT ELEMENTS **

.page {
  min-height: 100vh;
  padding-bottom: $space-3;
  padding-top: rem(80px) + $space-3;
}
.page.with-static-header {
  min-height: calc(100vh - 80px);
  padding-top: $space-3;
}
.container {
  margin-left: auto;
  margin-right: auto;
  max-width: 960px;
  padding-left: $space-3;
  padding-right: $space-3;
  width: 100%;
}
.container-full {
  padding-left: $space-3;
  padding-right: $space-3;
  width: 100%;
}
.container.no-collapse,
.container-full.no-collapse {
  /** 
  * Prevents margin collapse. Collapsing is useful for text content, but might create unexpected problems. 
  * This hack is for such cases.
  */
  margin-top: -1px;
  padding-top: 1px;
}
.box {
  background-color: $surface;
  border: 1px solid $border;
  border-radius: 3px;
  padding: $space-3;
}
.box .box {
  background-color: $bg;
}

// headings
h1,
.heading-1 {
  font-size: $font-size-xxxl;
  font-weight: $font-weight-base;
  margin-bottom: $space-3;
  margin-top: 0;
}
h2,
.heading-2 {
  font-size: $font-size-xxl;
  font-weight: $font-weight-chunky;
  margin-bottom: $space-3;
  margin-top: 0;
}
h3,
.heading-3 {
  font-size: $font-size-xl;
  font-weight: $font-weight-chunky;
  margin-bottom: $space-3;
  margin-top: 0;
}
h4,
.heading-4 {
  font-size: $font-size-lg;
  font-weight: $font-weight-chunky;
  margin-bottom: $space-3;
  margin-top: 0;
}
h5,
h6,
.heading-5,
.heading-6,
.heading-base {
  font-size: $font-size-md;
  font-weight: $font-weight-chunky;
  margin-bottom: 0;
  margin-top: 0;
}
h5,
h6,
.heading-5,
.heading-6 {
  margin-bottom: $space-3;
  margin-top: 0;
}
// for text content, such as blog posts, articles etc.
article {
  h1,
  .heading-1 {
    margin-bottom: $space-4 + $space-3;
    margin-top: $space-5;
  }
  h2,
  .heading-2 {
    margin-bottom: $space-4 + $space-1;
    margin-top: $space-4 + $space-3;
  }
  h3,
  .heading-3 {
    margin-bottom: $space-3 + $space-2 + $space-1;
    margin-top: $space-4 + $space-1;
  }
  h4,
  .heading-4 {
    margin-bottom: $space-3 + $space-1;
    margin-top: $space-3 + $space-2 + $space-1;
  }
  .heading-base {
    margin-bottom: 0;
    margin-top: 0;
  }
  h5,
  h6,
  .heading-5,
  .heading-6 {
    margin-bottom: $space-3;
    margin-top: $space-3 + $space-1;
  }
}
h1 {
  small {
    color: $secondary;
    font-size: 100%;
    font-weight: $font-weight-thin;
  }
}
h2,
h3,
h4 {
  small {
    color: $secondary;
    font-size: 100%;
    font-weight: $font-weight-slim;
  }
}
h5,
h6 {
  small {
    color: $secondary;
    font-size: 100%;
    font-weight: $font-weight-slim;
  }
}

// text
.text-base {
  @extend .font-base;
}
.text-sm {
  @extend .font-sm;
}
.text-md {
  @extend .font-md;
}
.text-lead {
  font-size: $font-size-md;
  font-weight: $font-weight-slim;
}

// ** FORM INPUTS **

label {
  color: $grey-4;
  font-size: $font-size-sm;
  font-weight: $font-weight-chunky;
}

// text inputs
input[type="date"],
input[type="datetime-local"],
input[type="email"],
input[type="month"],
input[type="number"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="text"],
input[type="time"],
input[type="url"],
input[type="week"],
textarea,
select,
.input {
  background-color: $bg;
  border: 1px solid $muted;
  border-radius: 3px;
  color: $text;
  font-size: $font-size-sm;
  height: 33px;
  line-height: 1.5;
  margin-bottom: $space-2;
  outline: none;
  padding: $space-1 12px $space-1 12px;
  width: 100%;

  &::placeholder {
    color: darken($muted, 10);
    opacity: 1; /* Firefox */
  }

  &:focus {
    outline: none;
    border: 1px solid $text;
    box-shadow: 0 0 0 1px $text;
  }

  &:disabled {
    background-color: $grey-2;
    color: $text;
    opacity: 0.35;

    &::placeholder {
      color: $text;
      opacity: 1; /* Firefox */
    }
  }
}
textarea {
  display: block;
  height: auto;
  min-height: 70px;
  padding-bottom: $space-2;
  padding-top: $space-2;
  resize: vertical;
}
select {
  -moz-appearance: none; /* Firefox */
  -webkit-appearance: none; /* Safari and Chrome */
  appearance: none;
  background: url(https://pro.fontawesome.com/releases/v5.10.0/svgs/solid/chevron-down.svg)
    no-repeat right $space-2 center $white;
  background-size: $space-3 $space-3 - $space-1;
}
input[type="date"].input-dark,
input[type="datetime-local"].input-dark,
input[type="email"].input-dark,
input[type="month"].input-dark,
input[type="number"].input-dark,
input[type="password"].input-dark,
input[type="search"].input-dark,
input[type="tel"].input-dark,
input[type="text"].input-dark,
input[type="time"].input-dark,
input[type="url"].input-dark,
input[type="week"].input-dark,
textarea.input-dark,
select.input-dark {
  background-color: $white;
  border: 1px solid $grey-3;
}
.input-container,
textarea,
select {
  margin-bottom: $space-2;

  input,
  select,
  textarea,
  .input {
    margin-bottom: 0;
  }
}
input[type="password"] {
  letter-spacing: 2px;
}
// webkit search type
input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
  appearance: none;
  height: 1rem;
  width: 1rem;
  border-radius: 50rem;
  background: url(https://pro.fontawesome.com/releases/v5.10.0/svgs/solid/times-circle.svg)
    no-repeat 50% 50%;
  background-size: contain;
  opacity: 0.35;
  pointer-events: none;
}
input[type="search"]:focus::-webkit-search-cancel-button {
  pointer-events: all;
}
// states
input.info,
select.error,
textarea.info {
  &:not([type="checkbox"]):not([type="radio"]) {
    border-color: $info !important;
    box-shadow: 0 0 0 1px $info !important;

    &::placeholder {
      color: $info-text;
      opacity: 1; /* Firefox */
    }
  }
}
input.error,
select.error,
textarea.error {
  &:not([type="checkbox"]):not([type="radio"]) {
    border-color: $danger !important;
    box-shadow: 0 0 0 1px $danger !important;

    &::placeholder {
      color: $danger-text;
      opacity: 1; /* Firefox */
    }
  }
}
input.success,
select.error,
textarea.success {
  &:not([type="checkbox"]):not([type="radio"]) {
    border-color: $success !important;
    box-shadow: 0 0 0 1px $success !important;

    &::placeholder {
      color: $success-text;
      opacity: 1; /* Firefox */
    }
  }
}
input.warning,
select.error,
textarea.warning {
  &:not([type="checkbox"]):not([type="radio"]) {
    border-color: $warning !important;
    box-shadow: 0 0 0 1px $warning !important;

    &::placeholder {
      color: $warning-text;
      opacity: 1; /* Firefox */
    }
  }
}
.input-container.info {
  margin-bottom: $space-3 + $space-2;

  label {
    @extend .text-info;
  }
  input,
  select,
  textarea {
    border-color: $info !important;
    box-shadow: 0 0 0 1px $info !important;
  }
  span {
    @extend .text-sm, .text-info;

    display: block;
    line-height: 1.75;
    position: absolute;
  }
}
.input-container.error {
  margin-bottom: $space-3 + $space-2;

  label {
    @extend .text-danger;
  }
  input,
  select,
  textarea {
    border-color: $danger !important;
    box-shadow: 0 0 0 1px $danger !important;
  }
  span {
    @extend .text-sm, .text-danger;

    display: block;
    line-height: 1.75;
    position: absolute;
  }
}
.input-container.success {
  margin-bottom: $space-3 + $space-2;

  label {
    @extend .text-success;
  }
  input,
  select,
  textarea {
    border-color: $success !important;
    box-shadow: 0 0 0 1px $success !important;
  }
  span {
    @extend .text-sm, .text-success;

    display: block;
    line-height: 1.75;
    position: absolute;
  }
}
.input-container.warning {
  margin-bottom: $space-3 + $space-2;

  label {
    @extend .text-warning;
  }
  input,
  select,
  textarea {
    border-color: $warning !important;
    box-shadow: 0 0 0 1px $warning !important;
  }
  span {
    @extend .text-sm, .text-warning;

    display: block;
    line-height: 1.75;
    position: absolute;
  }
}

// checkbox & radio
input[type="checkbox"] {
  -webkit-appearance: none;
  appearance: none;
  background-color: $white;
  border: 2px solid darken($grey-3, 10);
  border-radius: 3px;
  display: inline-block;
  padding: $space-2;
  position: relative;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  transition: background-color $transition;
  user-select: none;
  vertical-align: middle;

  &:focus {
    outline: none;
    border: 2px solid $grey-5;
    box-shadow: 0 0 0 3px $grey-2;
  }

  &:disabled {
    background-color: $grey-2;
    opacity: 0.35;

    & ~ label {
      opacity: 0.35;
    }
  }
}
input[type="radio"] {
  @extend input[type="checkbox"];

  border-radius: 50%;
  padding: $space-2;
}
input[type="checkbox"]:checked {
  background-color: $blue-2;
  border: 2px solid $blue-2;

  &:focus {
    box-shadow: 0 0 0 3px $blue-0;
  }
}
input[type="checkbox"]:checked:after {
  color: $white;
  content: "\2713";
  font-size: $font-size-base;
  font-weight: 700;
  left: 1px;
  position: absolute;
  top: 0px;
}
input[type="radio"]:checked:after {
  background-color: $white;
  border-radius: 50%;
  content: "";
  height: $space-2;
  width: $space-2;
  left: $space-1;
  position: absolute;
  top: $space-1;
}
.check-container,
.radio-container {
  display: block;
  margin-bottom: $space-2;
  margin-right: $space-3;

  label {
    padding-left: $space-2;
  }
}
.check-container-inline,
.radio-container-inline {
  @extend .check-container;

  display: inline-block;
}
// bigger checkbox
.check-container.check-lg,
.radio-container.radio-lg,
.check-container-inline.check-lg,
.radio-container-inline.radio-lg {
  margin-bottom: $space-2 + $space-1;

  input[type="checkbox"],
  input[type="radio"] {
    padding: 10px;
    vertical-align: top;
  }
  input[type="checkbox"]:checked:after {
    font-size: $font-size-md;
    left: 2px;
  }
  input[type="radio"]:checked:after {
    height: $space-2 + $space-1;
    width: $space-2 + $space-1;
    left: $space-1;
  }
  label {
    font-size: 100%;
    font-weight: $font-weight-base;
  }
}
// states
input[type="checkbox"].error,
input[type="radio"].error {
  border-color: $danger !important;

  &:focus {
    outline: none;
    border: 2px solid $danger;
    box-shadow: 0 0 0 3px $red-0;
  }
  &:checked {
    background-color: $danger;
    border: 2px solid $danger;
  }
}
.check-container.error,
.radio-container.error {
  label {
    @extend .text-danger;
  }
  input[type="checkbox"],
  input[type="radio"] {
    border-color: $danger !important;

    &:focus {
      outline: none;
      border: 2px solid $danger;
      box-shadow: 0 0 0 3px $red-0;
    }
  }
  input[type="checkbox"]:checked,
  input[type="radio"]:checked {
    background-color: $danger;
    border: 2px solid $danger;
  }
}
input[type="checkbox"].success,
input[type="radio"].success {
  border-color: $success !important;

  &:focus {
    outline: none;
    border: 2px solid $success;
    box-shadow: 0 0 0 3px $green-0;
  }
  &:checked {
    background-color: $success;
    border: 2px solid $success;
  }
}
.check-container.success,
.radio-container.success {
  label {
    @extend .text-success;
  }
  input[type="checkbox"],
  input[type="radio"] {
    border-color: $success !important;

    &:focus {
      outline: none;
      border: 2px solid $success;
      box-shadow: 0 0 0 3px $green-0;
    }
  }
  input[type="checkbox"]:checked,
  input[type="radio"]:checked {
    background-color: $success;
    border: 2px solid $success;
  }
}
input[type="checkbox"].warning,
input[type="radio"].warning {
  border-color: $warning !important;

  &:focus {
    outline: none;
    border: 2px solid $warning;
    box-shadow: 0 0 0 3px $yellow-0;
  }
  &:checked {
    background-color: $warning;
    border: 2px solid $warning;
  }
}
.check-container.warning,
.radio-container.warning {
  label {
    @extend .text-warning;
  }
  input[type="checkbox"],
  input[type="radio"] {
    border-color: $warning !important;

    &:focus {
      outline: none;
      border: 2px solid $warning;
      box-shadow: 0 0 0 3px $yellow-0;
    }
  }
  input[type="checkbox"]:checked,
  input[type="radio"]:checked {
    background-color: $warning;
    border: 2px solid $warning;
  }
}

// ** LINKS **

.link-dark {
  color: $dark;
  fill: $dark;
  stroke: $dark;

  &:hover,
  &:focus,
  &:active {
    color: $grey-6;
    fill: $grey-6;
    stroke: $grey-6;
  }

  svg {
    stroke: inherit;
  }
}
.link-dark.active {
  color: $grey-6;
  fill: $grey-6;
  stroke: $grey-6;

  svg {
    stroke: inherit;
  }
}
.link-light {
  color: $light;
  fill: $light;
  stroke: $light;

  &:hover,
  &:focus,
  &:active {
    color: $white;
    fill: $white;
    stroke: $white;
  }

  svg {
    stroke: inherit;
  }
}
.link-light.active {
  color: $white;
  fill: $white;
  stroke: $white;

  svg {
    stroke: inherit;
  }
}
.link-danger {
  color: $danger-text;
  fill: $danger-text;
  stroke: $danger-text;

  &:hover,
  &:focus,
  &:active {
    color: darken($danger-text, 10);
    fill: darken($danger-text, 10);
    stroke: darken($danger-text, 10);
  }

  svg {
    stroke: inherit;
  }
}
.link-danger.active {
  color: darken($danger-text, 10);
  fill: darken($danger-text, 10);
  stroke: darken($danger-text, 10);

  svg {
    stroke: inherit;
  }
}
.link-success {
  color: $success-text;
  fill: $success-text;
  stroke: $success-text;

  &:hover,
  &:focus,
  &:active {
    color: darken($success-text, 10);
    fill: darken($success-text, 10);
    stroke: darken($success-text, 10);
  }

  svg {
    stroke: inherit;
  }
}
.link-success.active {
  color: darken($success-text, 10);
  fill: darken($success-text, 10);
  stroke: darken($success-text, 10);

  svg {
    stroke: inherit;
  }
}
.link-warning {
  color: $warning-text;
  fill: $warning-text;
  stroke: $warning-text;

  &:hover,
  &:focus,
  &:active {
    color: darken($warning-text, 10);
    fill: darken($warning-text, 10);
    stroke: darken($warning-text, 10);
  }

  svg {
    stroke: inherit;
  }
}
.link-warning.active {
  color: darken($warning-text, 10);
  fill: darken($warning-text, 10);
  stroke: darken($warning-text, 10);

  svg {
    stroke: inherit;
  }
}

// REFACTOR the crap out of this, what is this even
.link-icon {
  span {
    line-height: 0.8; // Lamestream HAX
    margin-right: $space-2;
    stroke: inherit;
  }
  svg {
    stroke: inherit;
  }
}
