@import url("https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700&display=swap&subset=latin-ext");

// ** FONT **

$fa-font-path: "./webfonts" !default;
$font-size-base: 16px !default;

@function rem($target, $context: $font-size-base) {
  @return ($target / $context) * 1rem;
}

$font-size-sm: rem(12px) !default;
$font-size-md: rem(19px) !default;
$font-size-lg: rem(21px) !default;
$font-size-xl: rem(26px) !default;
$font-size-xxl: rem(33px) !default;
$font-size-xxxl: rem(54px) !default;

$font-weight-thin: 100 !default;
$font-weight-slim: 300 !default;
$font-weight-base: 400 !default;
$font-weight-chunky: 500 !default;
$font-weight-fat: 700 !default;

.font-sm {
  font-size: $font-size-sm;
  font-weight: $font-weight-base;
}
.font-base {
  font-size: $font-size-base;
  font-weight: $font-weight-base;
}
.font-md {
  font-size: $font-size-md;
  font-weight: $font-weight-chunky;
}

// ** COLORS **

$white: #fafafa !default;
$grey-0: #f2f2f2 !default;
$grey-1: #ebebec !default;
$grey-2: #e1e1e2 !default;
$grey-3: #bfbfc0 !default;
$grey-4: #747475 !default;
$grey-5: #565657 !default;
$grey-6: #313132 !default;
$black: #1d1d1e !default;

$red-0: #d86f6c !default;
$red-1: #d9534f !default;
$red-2: #cc322c !default;
$red-3: #b22520 !default;
$red-4: #93211d !default;

$yellow-0: #f9b548 !default;
$yellow-1: #faa825 !default;
$yellow-2: #e79005 !default;
$yellow-3: #cc7d00 !default;
$yellow-4: #b56f00 !default;

$green-0: #80c780 !default;
$green-1: #5cb85c !default;
$green-2: #449d44 !default;
$green-3: #357935 !default;
$green-4: #296029 !default;

$blue-0: #7bcce5 !default;
$blue-1: #51afcc !default;
$blue-2: #2493b5 !default;
$blue-3: #1f7e9b !default;
$blue-4: #1b6d85 !default;

$bg: $white;
$color: $grey-6;

$bg-dark: $grey-6;
$bg-light: $grey-0;

$primary: $grey-6 !default;
$secondary: $grey-4 !default;

$primary-dark: $grey-1 !default;

$light: $grey-2 !default;
$dark: $grey-4 !default;

$link: $blue-2 !default;
$muted: $grey-3 !default;

$info: $blue-3 !default;
$success: $green-2 !default;
$warning: $yellow-2 !default;
$danger: $red-2 !default;

$info-dark: $blue-3 !default;
$success-dark: $green-2 !default;
$warning-dark: $yellow-2 !default;
$danger-dark: $red-2 !default;

$text-info: $blue-3 !default;
$text-success: $green-3 !default;
$text-warning: $yellow-3 !default;
$text-danger: $red-3 !default;

// ** SPACING **

$space-1: rem(4px) !default;
$space-2: rem(8px) !default;
$space-3: rem(16px) !default;
$space-4: rem(32px) !default;
$space-5: rem(64px) !default;
$space-6: rem(128px) !default;
$space-7: rem(256px) !default;
$space-8: rem(512px) !default;

// ** BREAKPOINTS **

$medium: 768px !default;
$large: 992px !default;

// ** OTHER **

$transition: 175ms cubic-bezier(0.23, 1, 0.32, 1) !default;

// ** BASIC STYLES **

html {
  font-size: $font-size-base;
}
body {
  background-color: $bg;
  color: $color;
  font-family: "Roboto", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol";
  line-height: 1.5;
  min-height: 100vh;
}
p {
  font-size: $font-size-base;
  font-weight: $font-weight-base;
  margin-bottom: $space-3;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.2;
}
a,
.link {
  color: $link;
  fill: $link;
  display: inline-block;
  stroke: $link;
  text-decoration: none;

  &:hover,
  &:focus,
  &:active {
    color: darken($link, 15);
    fill: darken($link, 15);
    stroke: darken($link, 15);
    text-decoration: none;
  }
}
a.is-active,
.link.is-active {
  color: darken($link, 15);
  fill: darken($link, 15);
  stroke: darken($link, 15);
}
p a {
  text-decoration: underline;

  &:hover,
  &:focus,
  &:active {
    text-decoration: underline;
  }
}
svg {
  fill: $black;
  stroke: $black;
}
ul,
ol {
  display: block;
  margin-top: $space-3;
  margin-bottom: $space-3;
  padding-left: $space-4;
}
ul li::marker,
ol li::marker {
  color: darken($grey-3, 15);
}
code {
  color: $red-0;
}
// font-awesome
.fa,
.fas,
.far,
.fab {
  vertical-align: 1px;
}
button {
  .fa,
  .fas,
  .far,
  .fab {
    vertical-align: 0px;
  }
}
.ui.fa,
.ui.fas,
.ui.far,
.ui.fab {
  font-size: $font-size-md;
}
